.banner{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: url(../img/bannerMobile.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    width: calc(100% - 36px);
    padding: 0px 18px;
    height: 224px;
}

.banner__paragrafo{
    color: #ffffff;
    font-size: 23px;
    text-align: center;
}

@media screen and (min-width: 1024px) {
    .banner{
        background: url(../img/bannerDesktop.png);
        background-repeat: no-repeat;
        background-size: cover;
        height: 320px;
    }

    .banner__paragrafo{
        font-size: 48px;
        max-width: 1200px;
    }
}

