.form{
    display: flex;
    flex-direction: column;
    margin-top: 60px;
    align-items: center;
    padding: 18px;
}

.form__paragrafo{
    color: var(--cinzatexto);
    font-size: 0.9375rem;
    text-align: center;
    margin-bottom: 27px;
    max-width: 321px;
    line-height: 24px;
}

.form__wrapper{
    width: 100%;
    background: #E6E6E6;
    padding: 27px 18px 36px 18px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    gap: 21px;
    max-width: 564px;
}

.form__wrapper__inputBox{
    display: flex;
    flex-direction: column;
}

.form__wrapper__inputBox label{
    margin-bottom: 10px;
    font-size: 0.8125rem;
    color: var(--cinzatexto);
}

.form__wrapper__inputBox labe:focus{
    color: red;
}


.form__wrapper__inputBox input{
    height: 44px;
    border: none;
    padding: 0px 15px;
    font-size: 0.9375rem;
    color: var(--cinzatexto);
    outline: none;
}

.form__wrapper__inputBox input:focus{
    outline: 2px solid var(--azulprincipal)
}

.form__wrapper__button{
    align-items: center;
    background: var(--azulprincipal);
    display: flex;
    height: 52px;
    justify-content: center;
    transition: background 0.3s ease;
    box-sizing: border-box;
    border: none;
    text-decoration: none;
    color: #ffffff;
    font-size: 1.3125rem;
}

.form__wrapper__button:hover{
    background: #2ebafc;
}

@media screen and (min-width: 1024px) {
    .form__paragrafo{
        max-width: 1240px;
        font-size: 1.5rem;
    }   
}