.header{
    align-items: center;
    background: #2571B7;
    box-sizing: border-box;
    display: flex;
    height: 48px;
    justify-content: space-between;
    padding: 0px 18px;
    width: 100%;
    color: #FFFFFF;
}

.header__logo{
    display: none;
    cursor: pointer;
    height: 27px;
    width: 124px;
}

.header__iconmenu{
    display: flex;
    flex-direction: column;
    height: 18px;
    justify-content: space-between;
    width: 24px;
}

.header__iconmenu__barra{
    background: white;
    height: 2px;
    width: 100%;
}

.header__right{
    align-items: center;
    color: white;
    display: flex;
    justify-content: space-between;
}

.header__right__links{
    display: flex;
    justify-content: space-between;
    width: 0px;
}

.header__right__link{
    cursor: pointer;
    display: none;
    transition: color 0.3s ease;
}

.header__right__link:hover{
    color: #ffffffa1;
}


.header__right__button{
    align-items: center;
    background: #002050;
    display: flex;
    height: 28px;
    padding: 0px;
    justify-content: center;
    transition: background 0.3s ease;
    box-sizing: border-box;
    border: none;
    text-decoration: none;
    color: #ffffff;
    width: 113px !important;
    display: block;
}

.header__right__button:hover{
    background: #002050af;
    cursor: pointer;
}

@media screen and (min-width: 1024px) {
    .header{
        height: 80px;
        padding: 0px 120px;
    }

    .header__logo{
        display: block;
    }

    .header__iconmenu{
        display: none;
    }

    .header__right{
        max-width: 600px;
        width: 100%;
    }

    .header__right__links{
        width: 67%;
    }

    .header__right__link{
        display: block;
    }

    .header__right__lorem{
        height: 37px;
        width: 138px;
    }
    
}